* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Raleway, sans-serif;
  font-size: 62.5%;

  /*Cores*/
  --texto-cor-primaria: #464646;
  --background-color-section-aboutme: #EAF2FD;
}

body {
  padding: 2rem 9.5rem 0 9.5rem;
  height: 100vh;
}

/*NAVEGACAO*/

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;

  color: var(--texto-cor-primaria);
  font-weight: 700;
  text-decoration: none;
}

.logo img {
  width: 5rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 1.2rem;
}

nav a, ul, li{
  
  color: var(--texto-cor-primaria);

  list-style: none;
  text-decoration: none;
}

ul {
  display: flex;
  align-items: center;
  gap: 2rem;

  font-weight: 500;
}

nav p {
  
  font-weight: 700;
}

/*SECTION INTRODUCTION*/

.introduction {
  display: flex;
  align-items: center;
  padding: 3.8rem 0 3.8rem 0;
  font-size: 1vw;
}

.introduction__flex {
display: flex;
flex-direction: column;
gap: 2rem;
}

.introduction h1 {
  font-size: 3.5rem;
}

.introduction p {
  font-size: 1.5rem;
  font-weight: 400;
}

.image {
  display: flex;
  flex-basis: fit-content;
  justify-content: center;
}

.image img{
  width: 100%;
  height: auto;
}

.buttons {
  display: flex;
  gap: 1%;
}

.buttons__flex {
  display: flex;
  gap: 1rem;
  align-items: center;

  border: none;
  background: none;

  font-size: 1.3rem;
  font-weight: 500;
}

.buttons__flex img {
  width: 20%;
  color: var(--texto-cor-primaria);
}

/*SECTION ABOUTME*/

.aboutme {
  position: fixed;
  right: 0;
  background-color: var(--background-color-section-aboutme);
  width: 100%;
  height: auto;
  padding: 4rem 9.5rem 4rem 9.5rem;
  z-index: 10; 
}

.aboutme__div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.aboutme__div h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--texto-cor-primaria);
}

.aboutme__div p {
  font-size: 1.5rem;
  font-weight: 400;
}


